BusinessLogic/Service References/TestimonialServiceReference/TestimonialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestimonialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.145:8000/TestimonialService/TestimonialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.145:8000/TestimonialService/TestimonialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.145:8000/TestimonialService/TestimonialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestimonialService_GetTestimonialSpecificDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonialSpecificDetails" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_GetTestimonialSpecificDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonialSpecificDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_DeleteCurrentTestimonial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCurrentTestimonial" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_DeleteCurrentTestimonial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCurrentTestimonialResponse" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_SaveTestimonialDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTestimonialDetails" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_SaveTestimonialDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTestimonialDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_GetAllTestimonial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonial" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_GetAllTestimonial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonialResponse" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_UpdateTestimonialImagePath_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonialImagePath" />
  </wsdl:message>
  <wsdl:message name="ITestimonialService_UpdateTestimonialImagePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonialImagePathResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestimonialService">
    <wsdl:operation name="GetTestimonialSpecificDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestimonialService/GetTestimonialSpecificDetails" message="tns:ITestimonialService_GetTestimonialSpecificDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestimonialService/GetTestimonialSpecificDetailsResponse" message="tns:ITestimonialService_GetTestimonialSpecificDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCurrentTestimonial">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestimonialService/DeleteCurrentTestimonial" message="tns:ITestimonialService_DeleteCurrentTestimonial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestimonialService/DeleteCurrentTestimonialResponse" message="tns:ITestimonialService_DeleteCurrentTestimonial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTestimonialDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestimonialService/SaveTestimonialDetails" message="tns:ITestimonialService_SaveTestimonialDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestimonialService/SaveTestimonialDetailsResponse" message="tns:ITestimonialService_SaveTestimonialDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonial">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestimonialService/GetAllTestimonial" message="tns:ITestimonialService_GetAllTestimonial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestimonialService/GetAllTestimonialResponse" message="tns:ITestimonialService_GetAllTestimonial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonialImagePath">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestimonialService/UpdateTestimonialImagePath" message="tns:ITestimonialService_UpdateTestimonialImagePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestimonialService/UpdateTestimonialImagePathResponse" message="tns:ITestimonialService_UpdateTestimonialImagePath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestimonialService" type="tns:ITestimonialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestimonialSpecificDetails">
      <soap:operation soapAction="http://tempuri.org/ITestimonialService/GetTestimonialSpecificDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCurrentTestimonial">
      <soap:operation soapAction="http://tempuri.org/ITestimonialService/DeleteCurrentTestimonial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTestimonialDetails">
      <soap:operation soapAction="http://tempuri.org/ITestimonialService/SaveTestimonialDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonial">
      <soap:operation soapAction="http://tempuri.org/ITestimonialService/GetAllTestimonial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonialImagePath">
      <soap:operation soapAction="http://tempuri.org/ITestimonialService/UpdateTestimonialImagePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestimonialService">
    <wsdl:port name="BasicHttpBinding_ITestimonialService" binding="tns:BasicHttpBinding_ITestimonialService">
      <soap:address location="http://10.0.0.145:8000/TestimonialService/TestimonialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>