BusinessLogic/Service References/UserRegistrationServiceReference/UserRegistrationService12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.147:8000/UserRegistrationService/UserRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.147:8000/UserRegistrationService/UserRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.147:8000/UserRegistrationService/UserRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserRegistrationService_SaveUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_SaveUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_GetUserSpecificDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSpecificDetails" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_GetUserSpecificDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSpecificDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_GetSecurityQuestionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionList" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_GetSecurityQuestionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_CheckIfUserIsAlredayExistOrNot_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfUserIsAlredayExistOrNot" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_CheckIfUserIsAlredayExistOrNot_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfUserIsAlredayExistOrNotResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateProfileImagePath_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileImagePath" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateProfileImagePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileImagePathResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_CheckIfUserEnterCorrectPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfUserEnterCorrectPassword" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_CheckIfUserEnterCorrectPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfUserEnterCorrectPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRole" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_UpdateUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserRegistrationService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserRegistrationService">
    <wsdl:operation name="SaveUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/SaveUserProfile" message="tns:IUserRegistrationService_SaveUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/SaveUserProfileResponse" message="tns:IUserRegistrationService_SaveUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateUserProfile" message="tns:IUserRegistrationService_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateUserProfileResponse" message="tns:IUserRegistrationService_UpdateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSpecificDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/GetUserSpecificDetails" message="tns:IUserRegistrationService_GetUserSpecificDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/GetUserSpecificDetailsResponse" message="tns:IUserRegistrationService_GetUserSpecificDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/GetSecurityQuestionList" message="tns:IUserRegistrationService_GetSecurityQuestionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/GetSecurityQuestionListResponse" message="tns:IUserRegistrationService_GetSecurityQuestionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserIsAlredayExistOrNot">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/CheckIfUserIsAlredayExistOrNot" message="tns:IUserRegistrationService_CheckIfUserIsAlredayExistOrNot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/CheckIfUserIsAlredayExistOrNotResponse" message="tns:IUserRegistrationService_CheckIfUserIsAlredayExistOrNot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfileImagePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateProfileImagePath" message="tns:IUserRegistrationService_UpdateProfileImagePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateProfileImagePathResponse" message="tns:IUserRegistrationService_UpdateProfileImagePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserEnterCorrectPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/CheckIfUserEnterCorrectPassword" message="tns:IUserRegistrationService_CheckIfUserEnterCorrectPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/CheckIfUserEnterCorrectPasswordResponse" message="tns:IUserRegistrationService_CheckIfUserEnterCorrectPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateUserRole" message="tns:IUserRegistrationService_UpdateUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/UpdateUserRoleResponse" message="tns:IUserRegistrationService_UpdateUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRegistrationService/DeleteUser" message="tns:IUserRegistrationService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRegistrationService/DeleteUserResponse" message="tns:IUserRegistrationService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserRegistrationService" type="tns:IUserRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveUserProfile">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/SaveUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSpecificDetails">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/GetUserSpecificDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestionList">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/GetSecurityQuestionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserIsAlredayExistOrNot">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/CheckIfUserIsAlredayExistOrNot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfileImagePath">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/UpdateProfileImagePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserEnterCorrectPassword">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/CheckIfUserEnterCorrectPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/UpdateUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserRegistrationService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserRegistrationService">
    <wsdl:port name="BasicHttpBinding_IUserRegistrationService" binding="tns:BasicHttpBinding_IUserRegistrationService">
      <soap:address location="http://10.0.0.147:8000/UserRegistrationService/UserRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>