BusinessLogic/Service References/EmailNotificationServiceReference/EmailNotificationService12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.200.97.239:8000/EmailNotificationService/EmailNotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.200.97.239:8000/EmailNotificationService/EmailNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailNotificationService_InsertIntoOutgoingEmailLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoOutgoingEmailLog" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_InsertIntoOutgoingEmailLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoOutgoingEmailLogResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetHtmlForTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHtmlForTemplate" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetHtmlForTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHtmlForTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetUserNameFromEmailAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameFromEmailAddress" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetUserNameFromEmailAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameFromEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetNotificationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationDetails" />
  </wsdl:message>
  <wsdl:message name="IEmailNotificationService_GetNotificationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailNotificationService">
    <wsdl:operation name="InsertIntoOutgoingEmailLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotificationService/InsertIntoOutgoingEmailLog" message="tns:IEmailNotificationService_InsertIntoOutgoingEmailLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotificationService/InsertIntoOutgoingEmailLogResponse" message="tns:IEmailNotificationService_InsertIntoOutgoingEmailLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHtmlForTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotificationService/GetHtmlForTemplate" message="tns:IEmailNotificationService_GetHtmlForTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotificationService/GetHtmlForTemplateResponse" message="tns:IEmailNotificationService_GetHtmlForTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameFromEmailAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotificationService/GetUserNameFromEmailAddress" message="tns:IEmailNotificationService_GetUserNameFromEmailAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotificationService/GetUserNameFromEmailAddressResponse" message="tns:IEmailNotificationService_GetUserNameFromEmailAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotificationDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotificationService/GetNotificationDetails" message="tns:IEmailNotificationService_GetNotificationDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotificationService/GetNotificationDetailsResponse" message="tns:IEmailNotificationService_GetNotificationDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailNotificationService" type="tns:IEmailNotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertIntoOutgoingEmailLog">
      <soap:operation soapAction="http://tempuri.org/IEmailNotificationService/InsertIntoOutgoingEmailLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtmlForTemplate">
      <soap:operation soapAction="http://tempuri.org/IEmailNotificationService/GetHtmlForTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameFromEmailAddress">
      <soap:operation soapAction="http://tempuri.org/IEmailNotificationService/GetUserNameFromEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationDetails">
      <soap:operation soapAction="http://tempuri.org/IEmailNotificationService/GetNotificationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailNotificationService">
    <wsdl:port name="BasicHttpBinding_IEmailNotificationService" binding="tns:BasicHttpBinding_IEmailNotificationService">
      <soap:address location="http://10.200.97.239:8000/EmailNotificationService/EmailNotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>