BusinessLogic/Service References/BrokerListingServiceReference/BrokerListingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeleteCurrentListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCurrentListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCurrentListingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerListingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerListingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBrokerListingDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentListingMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentListingMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentListingMessagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyToMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyToMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplyToMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveCurrentMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveCurrentMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchiveCurrentMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkAsReadMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageListDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listingsCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageListDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageListDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>