BusinessLogic/Service References/SubscriptionServiceReference/SubscriptionService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.200.97.239:8000/SubscriptionService/SubscriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.200.97.239:8000/SubscriptionService/SubscriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.200.97.239:8000/SubscriptionService/SubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionService_GetPaymentCardTypeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentCardTypeDetails" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_GetPaymentCardTypeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentCardTypeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_SaveSubscriptionData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubscriptionData" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_SaveSubscriptionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubscriptionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_GetPlanDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanDetails" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionService_GetPlanDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionService">
    <wsdl:operation name="GetPaymentCardTypeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/GetPaymentCardTypeDetails" message="tns:ISubscriptionService_GetPaymentCardTypeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/GetPaymentCardTypeDetailsResponse" message="tns:ISubscriptionService_GetPaymentCardTypeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubscriptionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SaveSubscriptionData" message="tns:ISubscriptionService_SaveSubscriptionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SaveSubscriptionDataResponse" message="tns:ISubscriptionService_SaveSubscriptionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/GetPlanDetails" message="tns:ISubscriptionService_GetPlanDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/GetPlanDetailsResponse" message="tns:ISubscriptionService_GetPlanDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionService" type="tns:ISubscriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPaymentCardTypeDetails">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/GetPaymentCardTypeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubscriptionData">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/SaveSubscriptionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanDetails">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionService/GetPlanDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionService">
    <wsdl:port name="BasicHttpBinding_ISubscriptionService" binding="tns:BasicHttpBinding_ISubscriptionService">
      <soap:address location="http://10.200.97.239:8000/SubscriptionService/SubscriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>