BusinessLogic/Service References/SubscriptionServiceReference/SubscriptionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://geraciwcfservices.azurewebsites.net/SubscriptionService/SubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="GetPaymentCardTypeDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentCardTypeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetPaymentCardTypeDetailsResult" nillable="true" type="q1:ArrayOfPaymentCardTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionOptionCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetSubscriptionOptionsResult" nillable="true" type="q2:ArrayOfSubscriptionOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubscriptionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubscriptionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSubscriptionDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlanDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>