BusinessLogic/Service References/SubscriptionServiceReference/SubscriptionService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaymentCardTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentCardTypes" nillable="true" type="tns:PaymentCardTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentCardTypes" nillable="true" type="tns:ArrayOfPaymentCardTypes" />
  <xs:complexType name="PaymentCardTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentCardTypes" nillable="true" type="tns:PaymentCardTypes" />
</xs:schema>