BusinessLogic/Service References/HomePageServiceReference/HomePageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HomePageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.145:8000/HomePageService/HomePageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.145:8000/HomePageService/HomePageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.145:8000/HomePageService/HomePageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHomePageService_Getallnews_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallnews" />
  </wsdl:message>
  <wsdl:message name="IHomePageService_Getallnews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallnewsResponse" />
  </wsdl:message>
  <wsdl:message name="IHomePageService_GetLatestBrokerListingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestBrokerListingDetails" />
  </wsdl:message>
  <wsdl:message name="IHomePageService_GetLatestBrokerListingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestBrokerListingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IHomePageService_GetLatestNewsandArticlesForHomePage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestNewsandArticlesForHomePage" />
  </wsdl:message>
  <wsdl:message name="IHomePageService_GetLatestNewsandArticlesForHomePage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestNewsandArticlesForHomePageResponse" />
  </wsdl:message>
  <wsdl:portType name="IHomePageService">
    <wsdl:operation name="Getallnews">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomePageService/Getallnews" message="tns:IHomePageService_Getallnews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomePageService/GetallnewsResponse" message="tns:IHomePageService_Getallnews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestBrokerListingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomePageService/GetLatestBrokerListingDetails" message="tns:IHomePageService_GetLatestBrokerListingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomePageService/GetLatestBrokerListingDetailsResponse" message="tns:IHomePageService_GetLatestBrokerListingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestNewsandArticlesForHomePage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomePageService/GetLatestNewsandArticlesForHomePage" message="tns:IHomePageService_GetLatestNewsandArticlesForHomePage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomePageService/GetLatestNewsandArticlesForHomePageResponse" message="tns:IHomePageService_GetLatestNewsandArticlesForHomePage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHomePageService" type="tns:IHomePageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getallnews">
      <soap:operation soapAction="http://tempuri.org/IHomePageService/Getallnews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestBrokerListingDetails">
      <soap:operation soapAction="http://tempuri.org/IHomePageService/GetLatestBrokerListingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestNewsandArticlesForHomePage">
      <soap:operation soapAction="http://tempuri.org/IHomePageService/GetLatestNewsandArticlesForHomePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomePageService">
    <wsdl:port name="BasicHttpBinding_IHomePageService" binding="tns:BasicHttpBinding_IHomePageService">
      <soap:address location="http://10.0.0.145:8000/HomePageService/HomePageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>