BusinessLogic/Service References/LoginServiceReference/LoginService12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.200.97.239:8000/LoginService/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.200.97.239:8000/LoginService/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_ValidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidationSecQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidationSecQuestions" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidationSecQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidationSecQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidateLogin" message="tns:ILoginService_ValidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidateLoginResponse" message="tns:ILoginService_ValidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ChangePassword" message="tns:ILoginService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ChangePasswordResponse" message="tns:ILoginService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetUserDetails" message="tns:ILoginService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetUserDetailsResponse" message="tns:ILoginService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidationSecQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidationSecQuestions" message="tns:ILoginService_ValidationSecQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidationSecQuestionsResponse" message="tns:ILoginService_ValidationSecQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LoginUser" message="tns:ILoginService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginUserResponse" message="tns:ILoginService_LoginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidationSecQuestions">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidationSecQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://10.200.97.239:8000/LoginService/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>